body{
    position: relative;
    columns: #000000;
}
/***** header *****/
header{
    position: relative;
    background: #64b9d2;
    padding: 10px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
}
/*** navigation ***/
.active-nav{
    font-weight: bold;
}
nav{
    position: relative;
    height:50px;
    line-height: 50px;
    text-align: center;
    background: #e4e4e4;
    color: #ffffff;
    text-align: left;
}
nav a:link,nav a:visited{
    text-decoration: none;
    color:#000000;
    margin:5px
}
nav a:hover,nav a:focus{
    text-decoration: none;
}
/*************/
.canvasjs-chart-credit{
    display:none !important;
}
/***/
h2{
    color: #bdbdbd;
    text-transform: uppercase;
    border-bottom: 1px solid #bfbfbf;
    width: 80%;
    margin: 50px auto;
}